html {
    height: 100%;
    width: 100%;
    margin: 0;

}
body{
    margin:0%;
    
}
header{
    background-color: #c5d5cb;
    padding: 20px;
    margin: 0%;
}
nav{
    background-color: #e3e0cf;
    margin : 0%;
}

main{
    margin:0%;
    background-color: #e3e0cf;
}